<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/rules">Start project <span class="sr-only">(current)</span></a>
            </li>



        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/logout"
                    style="color: black;">logout</a></button>
        </form>
    </div>
</nav>

<body>
    <div class="container">
        <div class="col-md-12">

            <form action="/edt_upload" method="post" enctype="multipart/form-data">

                <div class="row">


                    <div class="col-md-12">
                        <h3 class="mt-5" style="margin-left: 35%;">Give a name what you’ll be creating.</h3>
                        <p
                            style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            And don’t worry, you can edit this later, too.</p>

                        <div class="form-group mt-5">

                            <textarea class="form-control" name="discription" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Discribe about item" required>{{data.discription}}</textarea>
                        </div>

                    </div>
                </div>



                <div class="row">

                    <div class="col-md-12">
                        <h3 class="mt-5" style="margin-left: 35%;">let’s decide price</h3>
                        <p
                            style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            And don’t worry, you can edit this later, too.</p>
                        <div class="form-group">

                            <input type="text" value="{{data.price}}" class="form-control  mt-5" id="price_input"
                                name="price" placeholder="Price">

                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="mt-5" style="margin-left: 35%;"> let’s decide Target</h3>
                        <p
                            style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            And don’t worry, you can edit this later, too.</p>
                        <div class="form-group">

                            <input type="text" value="{{data.target}}" class="form-control  mt-5" id="price_input"
                                name="target" placeholder="Target">

                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="mt-5" style="margin-left: 35%;"> let’s input image</h3>
                        <p
                            style="margin-left: 35%;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            Choose an image</p>



                        <div class="form-group" style="margin-left:13em;">


                            <input type="file" value="{{data.img}}" class="form-control-file" name="image"
                                id="exampleFormControlFile1" required>
                                <br>
                                <img src="/images/{{data.img}}" alt="" style="height: 10rem;width: 10rem;">

                        </div>

                    </div>
                </div>
        </div>



        <div class="row">

            <div class="col-md-12">
                <div class="form-group">

                    <h3 class="mt-5" style="margin-left: 35%;"> let’s give description</h3>
                    <textarea class="form-control" name="details" id="exampleFormControlTextarea3"
                        rows="7">{{data.details}}</textarea>
                </div>
            </div>
        </div>


        <input type="hidden" value="{{data._id}}" name="id">
      
        <button type="submit" class="btn btn-success mt-5" style="margin-left: 42%;">Edit</button>
         <a href="/myproject"> <button type="button" class="btn btn-warning mt-5" >cancel</button></a>

        </form>
 
       

    </div>
    </div>
</body>